<div id="container">
	<div id="contents">
		<!-- パン屑リスト -->
		<p class="topic-path">
			<a href="../">HOME</a>&nbsp;＞&nbsp; 			広告掲載に関して
		</p>
		<div class="main_title">
			<h2 class="text"> 広告掲載に関して </h2>
		</div>
		<div class="none">
			<p class="text">
				コスプレ風俗NETでは広告を募集しています。当サイトは全国のコスプレプレイが可能な風俗店舗に特化したサイト構成に成っておりますので、
				コスプレ風俗を探しているユーザに対して非常に高い効果が期待できます。
			</p>
			<p class="text">
				掲載料は掲載プランごとに異なります
			</p>
			<p class="text">
				掲載プランごとの掲載料と、内容の詳細は以下をご覧下さい
				<br/>
				※ワンクリック詐欺等の悪質なバナー掲載はお断りしています。
			</p>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">ヘッドバナープラン <span class="sub">月額料金 40,000円</span></h3>
		</div>
		<div class="base">
			<h4 class="text"> 全てのページのヘッダーエリアに、「横528px　×　縦57px」のバナー広告を表示します </h4>
		</div>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_head_0.gif" alt="コスプレ風俗ネット | ヘッドバナープラン　タイプ０" width="500px" height="51px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							全てのページのヘッダーエリアに店舗様のバナーが表示されます
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<div class="attention">
			<h5 class="text"> 全てのページ（6000ページ以上）のヘッダー領域にバナーが表示されるため、莫大な数のページビューが期待できます
			<br/>
			<span class="big"> 月額費用固定 40,000円
				<br/>
			</span>（※お申し込みは１件まで）</h5>
		</div>
		<div class="pr_btn">
			<a href="http://cosplay-fuzoku.net/contact?type=0"> <img src="http://cosplay-fuzoku.net/img/pr_contact_btn.gif" alt="コスプレ風俗ネット | TOPバナープラン　タイプ１" width="702px" height="103px" /></a>
		</div>
		<div class="base_title">
			<h3 class="text"  id="pr02">TOPバナープラン <span class="sub">月額料金 30,000円</span></h3>
		</div>
		<div class="base">
			<h4 class="text"> TOPページの「一押し風俗店舗一覧(※タイプ１)」と、
			<br/>
			登録して頂いたお店の地域に一致する、地域検索結果の「（地域名）の一押し風俗店舗一覧(※タイプ２)」にバナーを表示します </h4>
		</div>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_top_1.gif" alt="コスプレ風俗ネット | TOPバナープラン　タイプ１" width="500px" height="269px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							サイトの<a href="http://cosplay-fuzoku.net/">TOPページ</a>の「一押し風俗店舗一覧」の箇所に表示させて頂きます。
						</p>
						<p class="text">
							コスプレプレイが可能な風俗、を探しているユーザの、多くのアクセスが集中するので、非常に高い効果を見込めます。
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_top_2.gif" alt="コスプレ風俗ネット | TOPバナープラン　タイプ１" width="500px" height="262px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							※掲載店舗様の地域が、東京エリアの場合の例
						</p>
						<p class="text">
							サイトの地域別検索結果ページ（※左の例では<a href="http://cosplay-fuzoku.net/search/tokyo/">東京</a>）の「（地域名）の一押し風俗店舗一覧」の箇所に表示させて頂きます。
						</p>
						<p class="text">
							店舗様の地域で、コスプレ風俗を探しているユーザのアクセスが集中するので、非常に高い効果を見込めます
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<div class="attention">
			<h5 class="text"> TOPページと、店舗様の地域に一致する地域別検索結果ページの２箇所同時に「一押し」の風俗店舗として表示するため、非常に効果が見込めるプランと成っております
			<br/>
			<span class="big"> 月額費用固定 30,000円 </span></h5>
		</div>
		<div class="pr_btn">
			<a href="http://cosplay-fuzoku.net/contact?type=1"> <img src="http://cosplay-fuzoku.net/img/pr_contact_btn.gif" alt="コスプレ風俗ネット | TOPバナープラン　タイプ１" width="702px" height="103px" /></a>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr03">ライトナビバナープラン <span class="sub">月額料金 20,000円</span></h3>
		</div>
		<div class="base">
			<h4 class="text"> TOPページの「全国のお店(※タイプ３)」と、
			<br/>
			登録して頂いたお店の地域に一致する、地域検索結果の「（地域名）のお店(※タイプ４)」
			<br/>
			登録して頂いたお店の地域に一致する、店舗ページの「（地域名）のお店(※タイプ5)」
			<br/>
			にバナーを表示します </h4>
		</div>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_rightnavi_3.gif" alt="コスプレ風俗ネット | ライトナビバナー　タイプ２" width="500px" height="265px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							多くのアクセスが集中する、<a href="http://cosplay-fuzoku.net/">TOPページ</a>のライトナビの領域に店舗様のバナーを掲載します。
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_rightnavi_4.gif" alt="コスプレ風俗ネット | ライトナビバナー　タイプ３" width="500px" height="267px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							店舗様の地域に該当する地域検索結果ページのライトナビに、バナーを表示します。左は例として<a href="http://cosplay-fuzoku.net/search/tokyo/">東京エリアの検索結果ページ</a>のライトナビの領域を表示しています。
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_rightnavi_5.gif" alt="コスプレ風俗ネット | ライトナビバナー　タイプ４" width="500px" height="183px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							店舗様の地域と同じ地域にある店舗のライトナビに、バナーを表示します。左は例として東京エリア店舗ページのライトナビの領域を表示しています。
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<div class="attention">
			<h5 class="text"> TOPページと、該当地域の検索結果ページ、該当地域の店舗ページ、の３種類のページに同時にバナーを表示するので、多くの反応の良いユーザのページビューが期待できます
			<br/>
			<span class="big"> 月額費用固定 20,000円 </span></h5>
		</div>
		<div class="pr_btn">
			<a href="http://cosplay-fuzoku.net/contact?type=2"> <img src="http://cosplay-fuzoku.net/img/pr_contact_btn.gif" alt="コスプレ風俗ネット | TOPバナープラン　タイプ５" width="702px" height="103px" /></a>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr04">女の子バナープラン <span class="sub">月額料金 10,000円</span></h3>
		</div>
		<div class="base">
			<h4 class="text"> TOPページの「Pick Up風俗嬢(※タイプ６)」と、
			<br/>
			登録して頂いたお店の地域に一致する、地域検索結果の「（地域名）のPick Up風俗嬢(※タイプ７)」
			<br/>
			にバナーを表示します </h4>
		</div>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_girl_banner_6.gif" alt="コスプレ風俗ネット | 風俗嬢バナー　タイプ６" width="500px" height="263px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							<a href="http://cosplay-fuzoku.net">TOPページ</a>の「Pick Up風俗嬢」の領域に、お店の女の子を掲載します。女の子の画像を使うため高いクリック率が期待できます
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_girl_banner_7.gif" alt="コスプレ風俗ネット | 風俗嬢バナー　タイプ７" width="500px" height="262px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							店舗様の地域と同じ地域検索結果ページの「（地域名）のPick Up風俗嬢」の領域に、お店の女の子を掲載します。
						</p>
						<p class="text">
							地域が指定されているため、質の良いアクセスが期待できます。また、女の子の画像を使う為に、高いクリック率が期待できます
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<div class="attention">
			<h5 class="text"> TOPページと、該当地域の検索結果ページ、の2種類のページに同時に女の子の画像を表示するので、質の良いアクセスと、高いクリック率が期待できます。
			<br/>
			<span class="big"> 月額費用固定 10,000円 </span></h5>
		</div>
		<div class="pr_btn">
			<a href="http://cosplay-fuzoku.net/contact?type=2"> <img src="http://cosplay-fuzoku.net/img/pr_contact_btn.gif" alt="コスプレ風俗ネット | 風俗嬢バナー　タイプ８" width="702px" height="103px" /></a>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr05">テキストリンクプラン <span class="sub">月額料金 5,000円?</span></h3>
		</div>
		<div class="base">
			<h4 class="text"> TOPページの地域ごとの検索結果一覧の領域(※タイプ８)
			<br/>
			登録して頂いたお店の地域に一致する、地域検索結果ページの検索結果の一番上位(※タイプ９)
			<br/>
			にバナーを表示します </h4>
		</div>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_text_8.gif" alt="コスプレ風俗ネット | テキスト　タイプ９" width="500px" height="321px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							登録して頂いたお店の地域に一致する、地域検索結果ページの検索結果の一番上位に「優良店」として広告を掲載します
						</p>
						<p class="text">
							地域検索に対して広告が表示されるため、非常にモチベーションの高いユーザのアクセスが期待できます
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_text_9.gif" alt="コスプレ風俗ネット | 風俗嬢バナー　タイプ7" width="500px" height="331px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							TOPページの地域ごとの検索結果一覧の領域に、検索結果内に埋める形で店舗様を「優良店」として紹介します
						</p>
						<p class="text">
							検索に対して広告が表示されるため、非常にモチベーションの高いユーザのアクセスが期待できます
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<div class="attention">
			<h5 class="text"> TOPページの検索結果（東京、大阪、神奈川、埼玉、千葉、福岡、愛知、兵庫エリアのみ）、地域の検索結果の上位に広告が表示されるため、非常にモチベーションの高いユーザのアクセスが期待できます
			<br/>
			<span style="font-size:16px;color:#e4007f"> 東京、大阪、神奈川、埼玉、千葉、福岡、愛知、兵庫エリア </span>
			<br/>
			<span class="big"> 月額費用固定 10,000円 </span>
			<br/>
			<span style="font-size:16px;color:#e4007f"> 上記以外のエリア </span>
			<br/>
			<span class="big"> 月額費用固定 5,000円 </span></h5>
		</div>
		<div class="pr_btn">
			<a href="http://cosplay-fuzoku.net/contact?type=2"> <img src="http://cosplay-fuzoku.net/img/pr_contact_btn.gif" alt="コスプレ風俗ネット | お問い合わせはこちら" width="702px" height="103px" /></a>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr06">地域バナープラン <span class="sub">月額料金 10,000円?</span></h3>
		</div>
		<div class="base">
			<h4 class="text"> 登録して頂いたお店の地域に一致する、地域検索結果ページの「（地域名）の一押し風俗店舗一覧」(※タイプ10)
			にバナーを表示します </h4>
		</div>
		<table class="pr_layer">
			<tbody>
				<tr>
					<th><img src="http://cosplay-fuzoku.net/img/pr_area_10.gif" alt="コスプレ風俗ネット | 風俗嬢バナー　タイプ7" width="500px" height="266px" /></th>
					<td>
					<div class="pr_desc">
						<p class="text">
							登録して頂いたお店の地域に一致する、地域検索結果ページの「（地域名）の一押し風俗店舗一覧」(※タイプ10)
							にバナーを表示します
						</p>
						<p class="text">
							店舗様の地域で、コスプレ風俗を探しているユーザのアクセスが集中するので、
							<br/>
							非常に高い効果を見込めます
						</p>
						<p style="font-size:16px;color:#e4007f">
							※TOPページの「一押し風俗店舗一覧」には表示されませんのでご注意ください
						</p>
					</div></td>
				</tr>
			</tbody>
		</table>
		<div class="attention">
			<h5 class="text"> 店舗様の地域で、コスプレ風俗を探しているユーザのアクセスが集中するので、
			<br/>
			非常に高い効果を見込めます
			<br/>
			<span class="big"> 月額費用固定 10,000円 </span></h5>
		</div>
		<div class="pr_btn">
			<a href="http://cosplay-fuzoku.net/contact?type=2"> <img src="http://cosplay-fuzoku.net/img/pr_contact_btn.gif" alt="コスプレ風俗ネット | お問い合わせはこちら" width="702px" height="103px" /></a>
		</div>
	</div>
</div>