<div id="container">
	<div id="contents">
		<!-- パン屑リスト -->
		<p class="topic-path">
			<a href="../">HOME</a>&nbsp;＞&nbsp; 			利用規約
		</p>
		<div class="main_title">
			<h2 class="text"> サイト利用規約</h2>
		</div>
		<div class="none">
			<p class="text">
				「コスプレ風俗NET」広告掲載規約
				申込者（以下甲と言う）は、甲の情報を、コスプレ風俗情報サイト「コスプレ風俗NET」に掲載するにあたり、
				サイト運営・制作管理者「コスプレ風俗NET」（以下乙と言う）と下記の誓約を結び遵守する。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第1条【適用範囲】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．甲が本規約に反した場合、甲は直ちに期限の利益を失い、乙は甲の登録内容を抹消する事ができる。
				尚、その際の 掲載料の返還は行わない。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第2条【規約変更】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．乙は甲に事前の承諾を得る事なく本規約を随時変更することがあり、その場合、
				乙は速やかに新規約をサービス画面上、ホームページ上、その他の方法により甲に提示する。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第3条【掲載の拒否】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．甲が乙に登録したサイト内容が、諸法規に反する情報（文章・画像など）、公序良俗に反する情報の場合。
				<br/>
				２．迷誤認、又は虚偽である場合。
				<br/>
				３．過大表現している場合。
				<br/>
				４．甲が乙に登録申請したサイト内容について、乙が不適切・不利益と判断した場合。
				<br/>
				５．甲の経営する店舗・サイトに、暴力行為を遂行する団体等の関与・介入がある場合。
				<br/>
				６．法律・条例において風俗営業許可を必要とする店舗であるにも関わらず、所轄の警察署から風俗営業許可を取得していない場合。
				<br/>
				７．甲が掲載料金の支払いを怠った場合、乙は通知催促を要せず甲は直ちに期限の利益を失い掲載情報は削除される。
				<br/>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第4条【広告掲載条件】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．甲は、法律・条例において風俗営業許可を必要とする店舗は、所轄の警察署から風俗営業許可を取得していることを掲載条件とする。
				<br/>
				２.甲は法律・条例を遵守することを条件とする。
				<br/>
				３.甲は乙の定める期日までに、掲載料金を乙指定の金融機関に振込み、営業許可書をＦＡＸもしくはメールで添付し送信する。その確認がされ次第、乙のサイトに掲載する作業を開始し、掲載を維持するものとする。
				<br/>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第5条【損害賠償責任】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．甲は乙のサイトにて掲載されている内容に、万一乙の掲載ミスがあった場合でも、甲は乙に対して何ら賠償を求めず、一切の請求も行わない（その際、乙は掲載ミスに対して迅速に対応し修正する）。
				<br/>
				２．乙が何らかの事情により、甲の掲載データを消去したり、掲載出来なくなった場合でも、乙に対して、何ら賠償を求めず、一切の請求も行わない（その場合、甲は乙に再度情報提供する）。
				<br/>
				３．甲の情報が掲載されている乙のサイト運営が、万一の回線障害、サーバの故障、運営側の都合等により、運営不可能となった場合でも、甲は乙に対して、何ら賠償を求めず、一切の請求も行わない。
				<br/>
				４．乙の掲載と公開により、万一甲に損失が発生したとしても、乙に対して、何ら賠償を求めず、一切の請求も行わない。
				<br/>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第6条【第三者の不介入】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．甲乙間のあらゆる接触に関して、甲側の担当者（登録された代表者）は、その他一切の第三者や代理人等を介入させない事に同意する。
				<br/>
				２．当サイトと代理店契約を締結している個人及び法人に関しては、代理店契約内容に基づき、甲を代理することができる。
				<br/>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第7条【合意管轄】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．甲と乙の間で、訴訟が生じたときは、東京簡易裁判所又は東京地方裁判所を合意の管轄裁判所とする。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第8条【協議事項】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．本契約条項に記載のない事項に関しては、双方が誠意をもって対処し解決につとめる。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第9条【免責事項】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．乙の掲載と公開により、万一甲に損失が発生したとしても、乙に対して、何ら賠償を求めず、一切の請求も行わない。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第10条【規約有効期間】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．本規約は、附則に定める実施日から発効するものとする。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第11条【雑則】</h3>
		</div>
		<div class="none">
			<p class="text">
				１．本掲載規約に記載されていない事項で疑議が生じた場合、乙の判断に一任するものとする。
				<br/>
				附則　この規約は2011年10月１日より適用されます。
			</p>
		</div>
	</div>
</div>