<div id="container">
	<div id="contents">
		<!-- パン屑リスト -->
		<p class="topic-path">
			<a href="../">HOME</a>&nbsp;＞&nbsp; 			個人情報保護方針に関して
		</p>
		<div class="main_title">
			<h2 class="text"> 個人情報の取り扱いに付いて </h2>
		</div>
		<div class="none">
			<p class="text">
				コスプレ風俗NET（以下「弊媒体」といいます）は、コスプレ風俗NETをご利用になる方（以下「利用者」といいます）のプライバシーを尊重し、利用者の個人情報（以下の定義に従います）の管理に細心の注意を払い、これを適正に取り扱います。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">弊媒体の個人情報の取り扱い</h3>
		</div>
		<div class="none">
			<p class="text">
				弊媒体	における個人情報の取り扱いは、個人情報保護方針に基づいて行われます。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">個人情報の利用目的</h3>
		</div>
		<div class="none">
			<p class="text">
				弊媒体における個人情報の利用目的は以下の通りです。弊媒体は必要な範囲内で個人情報を取得し、利用目的を超えて利用することはありません。
			</p>
			<p class="text">
				(1) 弊媒体における利用者へのサービス提供。
				<br/>
				(2) 弊媒体における利用者の認証及び利用者へのサービス提供。
				<br/>
				(3) お問い合わせ等に対する回答。
				<br/>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">第三者への提供について</h3>
		</div>
		<div class="none">
			<p class="text">
				弊媒体は、下記の場合を除き、お客様の個人情報を第三者に開示いたしません。
			</p>
			<p class="text">
				・利用者の同意がある場合
				<br/>
				・利用目的の達成に必要な範囲内で個人情報の取り扱いを委託する場合。
				<br/>
				・法律・法令の定めに基づく強制の処分が行われた場合。
				<br/>
				・裁判所等の法律上照会権限を有する者から照会を受けた場合。
				<br/>
				・緊急避難または正当防衛に該当すると弊社が判断する場合
				<br/>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">個人情報の変更・訂正・削除について</h3>
		</div>
		<div class="none">
			<p class="text">
				弊媒体は、個人情報の開示および変更・訂正・削除などのご依頼があった場合、そのご依頼をされた方がお客様ご本人であることが確認できた場合のみ、適切な方法で対応したします。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">クッキー（Cookies）について</h3>
		</div>
		<div class="none">
			<p class="text">
				弊媒体のウェブサイトでは、お客様に弊社のサービスを便利にご利用いただくためにクッキーと呼ばれる機能を使用することがあります。この機能はお客様のプライバシーを侵害するものではなく、またお客さまのコンピューターへ悪影響を及ぼすこともありません。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">個人情報保護の取り組みについて</h3>
		</div>
		<div class="none">
			<p class="text">
				弊媒体は、法令等の改正や社会情勢の変化に応じ適宜見直しを行い、改善を図ってまいります。
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">免責</h3>
		</div>
		<div class="none">
			<p class="text">
				以下の場合は、第三者による個人情報の取得に関し、弊媒体は何らの責任を負いません。
			</p>
			<p class="text">
				(1) 利用者自らが弊媒体の機能又は別の手段を用いて特定の企業に個人情報を明らかにする場合。
				<br/>
				(2) 利用者本人またはその他の利用者が弊媒体に入力した情報により、期せずして本人が特定できてしまった場合。
				<br/>
				(3) 弊媒体からリンクされる外部サイトにおいて、利用者本人から個人情報が提供され、又それが利用された場合。
				<br/>
				(4) 利用者本人以外が利用者個人を識別できる情報（ＩＤ・パスワード等）を入手した場合。
				<br/>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">お問合わせ先について</h3>
		</div>
		<div class="none">
			<p class="text">
				利用者の個人情報の管理等についてのお問い合わせは、<a href="http://cosplay-fuzoku.net/contact/">お問い合わせページ</a>からお願いいたします。
			</p>
		</div>
	</div>
</div>