<div id="container">
	<div id="contents">
		<!-- パン屑リスト -->
		<p class="topic-path">
			<a href="../">HOME</a>&nbsp;＞&nbsp; 			無料広告掲載に関して
		</p>
		<div class="main_title">
			<h2 class="text"> 無料広告掲載に関して </h2>
		</div>
		<div class="none">
			<p class="text">
				コスプレ風俗NETでは有料広告の他に、費用が一切発生しない、無料広告を取り扱っております。
			</p>
			<p class="text">
				無料広告では、以下の機能を無料で利用できます。
			</p>
			<p class="text">
				<span class=" label success">機能１</span>
				お店の基本情報編集機能
				<br/>
			</p>
			<pre class="prettyprint wid_95 mgl10">発行されたログインIDとパスワードにより管理画面にログインします。管理画面から、お店の基本情報を編集出来ます。
編集されたデータは即座にページに反映され、データの修正は何度でも可能です。
登録できるお店の基本情報は、
・店舗名
・お店サイトURL(店舗様のホームページ)
・最低予算
・電話番号
・住所
・可能プレイ
です。
</pre>
			<p class="text">
				<span class=" label success">機能２</span>
				女の子情報編集機能
				<br/>
				<pre class="prettyprint wid_95 mgl10">管理画面から、お店に働いている女の子の情報を登録・修正します。
登録できる女の子の情報は、
・女の子の画像
・女の子の名前
・女の子の年齢
・女の子のスリーサイズ
・女の子の血液型
・女の子の出身地
・女の子の性格
です。
</pre>
			</p>
			<p class="text">
				<span class=" label success">機能３</span>
				お店への地図ページ作成
				<br/>
				<pre class="prettyprint wid_95 mgl10">管理画面から基本情報で、「住所」を登録すると、
お店の住所から自動的に地図を生成します。
</pre>
			</p>
		</div>
		<div class="base_title">
			<h3 class="text" id="pr01">無料掲載の流れ：STEP1</h3>
		</div>
		<div class="attention">
			<h4 class="text"> 以下のボタンをクリックし、遷移先のページから、無料広告掲載利用の申請を行なって下さい。
			申請には、風俗店舗様の「店舗名」「担当者名」「メールアドレス」「届出確認書（営業許可証）」をご入力頂いております。 </h4>
		</div>
		<button class="btn danger" style="widht:400px;margin:0 auto;font-size:18px" onclick="location.href='http://cosplay-fuzoku.net/pr_free/request'">
			無料広告掲載申請ページへ移動する
		</button>
		<div class="base_title mgt40">
			<h3 class="text" id="pr01">無料掲載の流れ：STEP2</h3>
		</div>
		<div class="attention">
			<h4 class="text"> 無料広告利用申請が完了すると、申請の際にご入力頂いたメールアドレスに、
			管理画面のログインIDとパスワードが送信されますので、管理画面へログインして下さい </h4>
		</div>
		<div class="base_title mgt40">
			<h3 class="text" id="pr01">無料掲載の流れ：STEP3</h3>
		</div>
		<div class="attention">
			<h4 class="text"> 管理画面にログインし、お店の情報を登録し、公開して下さい！
			<br/>
			以上、たったの３ステップで情報を掲載できます
			<br/>
			</h4>
		</div>
		<button class="btn danger" style="widht:400px;margin:0 auto;font-size:18px" onclick="location.href='http://cosplay-fuzoku.net/pr_free/demo'">
			管理画面のデモページはコチラ
		</button>
	</div>
</div>