<div id="container">
	<div id="contents">
		<!-- パン屑リスト -->
		<p class="topic-path">
			<a href="/">HOME</a>&nbsp;＞&nbsp; 			お問い合わせ完了
		</p>
		<div class="main_title">
			<h2 class="text"> お問い合わせ送信完了 </h2>
		</div>
		<div class="none">
			<div class="base">
				<p class="text">
					お問い合わせ頂きありがとうございました。自動返信メールを送信させて頂きましたので、ご確認ください。
				</p>
				<p class="text">
					30分以上経っても、自動返信メールが届かない場合は、入力して頂いたメールアドレスが間違っている可能性が高いので、お手数ですが再度メールフォームの方からお問い合わせ下さい。
				</p>
				<p class="text" style="text-align:center">
					<a href="/">＞TOPへ戻る</a>
				</p>
				<p class="text">
			</div>
		</div>
	</div>
</div>