table.sheet input{
	width:500px;
	height:18px;
}
table.sheet input["type=submit"]{
	height:1.5em;
}
table.sheet input.mini{
	width:200px;
	height:18px;
}
table.sheet select{
	margin:5px 0 5px 5px;
}
table.sheet td.center{
	text-align:center;
}
table.sheet input.minimini{
	width:100px;
	height:18px;
}
table.sheet td.submit{
	padding:10px 0 10px;
	text-align:center;
}
.error{
	background-color:#ffc6c6;
	width:100%;
	padding:2px 0 2px 0;
	text-align:center;
	color:#ff0000;
	font-weight:bold;
	margin:0 auto 5px;
}