<div id="top_line">
	<h1 id="top_line_contents">[コスプレ風俗NET]は全国のコスプレプレイの風俗店舗ポータルサイトです - <%= @logo_message %>エリア｜ <% if @logo_message != '全国' %>コスプレ風俗一覧<% end %></h1>
</div>
<div id="header">
	<div id="header_contents">
		<div id="header_contents">
			<!-- 見出し -->
			<!-- タイトル -->
			<div class="logo">
				<a href="/"> <img src="http://cosplay-fuzoku.net/img/site_logo.gif" alt="コスプレ風俗NET | アイコン" width="249px" height="35px" /> </a>
			</div>
			<!-- 概要 -->
			<h2 class="description"><%= @logo_message %>のコスプレ風俗</h2>
			<div class="header_banner">
				<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/header_banner.gif" alt="コスプレ風俗ネット | ヘッダーアイコン" width="528px" height="57px" /> </a>
			</div>
		</div>
	</div>
</div>