<div class="osusume_contents">
	<div class="shop_layer">
		<div class="shop_l">
			<div class="title">
				<h4 class="text"><a href="/pr/"> ここに広告を載せませんか？ </a></h4>
			</div>
			<div class="picture">
				<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/osusume_image.gif" alt="コスプレ風俗ネット | オススメ画像" width="174px" height="119px" /></a>
			</div>
			<div class="text">
				<dl>
					<dt>
						エリア：
					</dt>
					<dd>
						例)東京都/五反田
					</dd>
				</dl>
				<dl>
					<dt>
						予算：
					</dt>
					<dd>
						例)\8,000?
					</dd>
				</dl>
				<dl>
					<dt>
						ジャンル：
					</dt>
					<dd>
						例)デリヘル
					</dd>
				</dl>
				<dl>
					<dt>
						TEL：
					</dt>
					<dd>
						例)03-1111-2222
					</dd>
				</dl>
				<dl>
					<dt>
						コメント：
					</dt>
					<dd>
						例)コメントをここに記載します。コメントをここに記載します。 <a href="/pr/">>>詳細</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="shop_r">
			<div class="title">
				<h4 class="text"><a href="/pr/"> ここに広告を載せませんか？ </a></h4>
			</div>
			<div class="picture">
				<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/osusume_image.gif" alt="コスプレ風俗ネット | オススメ画像" width="174px" height="119px" /></a>
			</div>
			<div class="text">
				<dl>
					<dt>
						エリア：
					</dt>
					<dd>
						例)東京都/五反田
					</dd>
				</dl>
				<dl>
					<dt>
						予算：
					</dt>
					<dd>
						例)\8,000?
					</dd>
				</dl>
				<dl>
					<dt>
						ジャンル：
					</dt>
					<dd>
						例)デリヘル
					</dd>
				</dl>
				<dl>
					<dt>
						TEL：
					</dt>
					<dd>
						例)03-1111-2222
					</dd>
				</dl>
				<dl>
					<dt>
						コメント：
					</dt>
					<dd>
						例)コメントをここに記載します。コメントをここに記載します。 <a href="/pr/">>>詳細</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>