<div class="pickup_contents">
	<div class="layer">
		<div class="box">
			<div class="picture">
				<a href=""> <img src="http://cosplay-fuzoku.net/img/pickup_sample_image.gif" alt="コスプレ風俗ネット | Pick UP　風俗嬢" width="124px" height="109px" /></a>
			</div>
			<div class="title">
				<a href="/pr/"> 例)メロンちゃん/スウィートハニー </a>
			</div>
			<p class="area">
				例)東京/池袋&nbsp;デリヘル
			</p>
		</div>
		<div class="box">
			<div class="picture">
				<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/pickup_sample_image.gif" alt="コスプレ風俗ネット | Pick UP　風俗嬢" width="124px" height="109px" /></a>
			</div>
			<div class="title">
				<a href="/pr/"> 例)メロンちゃん/スウィートハニー </a>
			</div>
			<p class="area">
				例)東京/池袋&nbsp;デリヘル
			</p>
		</div>
		<div class="box">
			<div class="picture">
				<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/pickup_sample_image.gif" alt="コスプレ風俗ネット | Pick UP　風俗嬢" width="124px" height="109px" /></a>
			</div>
			<div class="title">
				<a href="/pr/"> 例)メロンちゃん/スウィートハニー </a>
			</div>
			<p class="area">
				例)東京/池袋&nbsp;デリヘル
			</p>
		</div>
		<div class="box_f">
			<div class="picture">
				<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/pickup_sample_image.gif" alt="コスプレ風俗ネット | Pick UP　風俗嬢" width="124px" height="109px" /></a>
			</div>
			<div class="title">
				<a href="/pr/"> 例)メロンちゃん/スウィートハニー </a>
			</div>
			<p class="area">
				例)東京/池袋&nbsp;デリヘル
			</p>
		</div>
	</div>
</div>