<!--条件を指定して検索 search_cond_title -->
<div class="search_cond_title">
	<h6 class="text"> 条件ごとに検索 </h6>
</div>
<div class="search_cond_frame_m">
	<div class="text">
		<p>
			全国のコスプレ風俗店を、地域、予算、プレイ内容から検索します
		</p>
	</div>
	<ul class="search_layer clearfix">
		<li>
			<dl class="left_area">
				<dt>
					地域
				</dt>
				<dd class="right_area">
					<ul class="clearfix link_list">
						<% @mast_prefectures.each do |mast_prefecture| %>
						<li>
							<a href="/search/<%= mast_prefecture.prefecture_mappings.param %>/"><%= mast_prefecture.name %></a>
						</li>
						<% end %>
					</ul>
				</dd>
			</dl>
		</li>
	</ul>
	<ul class="search_layer clearfix">
		<li>
			<dl class="left_area">
				<dt>
					最低予算
				</dt>
				<dd class="right_area">
					<ul class="clearfix link_list">
						<li>
							<a href="/search/?budget=2000">¥2,000～</a>
						</li>
						<li>
							<a href="/search/?budget=5000">¥5,000～</a>
						</li>
						<li>
							<a href="/search/?budget=8000">¥8,000～</a>
						</li>
						<li>
							<a href="/search/?budget=10000">¥10,000～</a>
						</li>
						<li>
							<a href="/search/?budget=13000">¥13,000～</a>
						</li>
						<li>
							<a href="/search/?budget=15000">¥15,000～</a>
						</li>
						<li>
							<a href="/search/?budget=18000">¥18,000～</a>
						</li>
						<li>
							<a href="/search/?budget=20000">¥20,000～</a>
						</li>
						<li>
							<a href="/search/?budget=23000">¥23,000～</a>
						</li>
						<li>
							<a href="/search/?budget=25000">¥25,000～</a>
						</li>
						<li>
							<a href="/search/?budget=28000">¥28,000～</a>
						</li>
						<li>
							<a href="/search/?budget=30000">¥30,000～</a>
						</li>
						<li>
							<a href="/search/?budget=33000">¥33,000～</a>
						</li>
						<li>
							<a href="/search/?budget=35000">¥35,000～</a>
						</li>
						<li>
							<a href="/search/?budget=38000">¥38,000～</a>
						</li>
						<li>
							<a href="/search/?budget=40000">¥40,000～</a>
						</li>
						<li>
							<a href="/search/?budget=50000">¥50,000～</a>
						</li>
						<li>
							<a href="/search/?budget=80000">¥80,000～</a>
						</li>
						<li>
							<a href="/search/?budget=100000">¥100,000～</a>
						</li>
					</ul>
				</dd>
			</dl>
		</li>
	</ul>
	<ul class="search_layer clearfix fin">
		<li>
			<dl class="left_area">
				<dt>
					プレイ内容
				</dt>
				<dd class="right_area">
					<ul class="clearfix link_list">
						<% @mast_play_categories.each do |mast_play_category| %>
						<li>
							<a href="/search/?play=<%= mast_play_category.id %>"><%= mast_play_category.name %></a>
						</li>
						<% end %>
					</ul>
				</dd>
			</dl>
		</li>
	</ul>
</div>
<div class="search_cond_frame_b"></div>