<!-- 広告エリア -->
<ol>
	<li class="shop_search_list">
		<div class="layer">
			<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
			<div class="picture">
				<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
			</div>
			<div class="text">
				各地域の検索結果の一番上に、優良店として紹介します
				<br/>
				動機付けが明確なユーザのアクセスを獲得します
			</div>
			<div class="inner_play_frame_t"></div>
			<div class="inner_play_frame_m">
				<div class="desc">
					<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
				</div>
			</div>
			<div class="inner_play_frame_b"></div>
			<div class="good_icon">
				<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
			</div>
			<div class="shop_info">
				<span class="bold">予算：</span>例)¥8,000〜
				<br/>
				<span class="bold">地域：</span>例)五反田
				<br/>
				<a href="/pr/">>>詳細はこちら</a>
			</div>
		</div>
	</li>
</ol>
<!-- end -->