<div class="sidetitle">
	<h6 class="text"> 広告プラン一覧 </h6>
</div>
<div class="text_box">
	<div class="text">
		<ul>
			<li>
				<a href="#pr01">ヘッドバナープラン</a>
			</li>
			<li>
				<a href="#pr02">TOPバナープラン</a>
			</li>
			<li>
				<a href="#pr03">ライトナビバナープラン</a>
			</li>
			<li>
				<a href="#pr04">女の子バナープラン</a>
			</li>
			<li>
				<a href="#pr05">テキストリンクプラン</a>
			</li>
			<li>
				<a href="#pr06">地域バナープラン</a>
			</li>
		</ul>
	</div>
</div>