<div class="sidetitle">
	<h6 class="text"> メニュー </h6>
</div>
<div class="text_box">
	<div class="text">
		<ul>
			<li>
				<a href="/pr/">広告掲載に関して</a>
			</li>
			<li>
				<a href="/contact/">お問い合わせ</a>
			</li>
			<li>
				<a href="/contract/">利用規約</a>
			</li>
			<li>
				<a href="/privacy/">個人情報保護方針</a>
			</li>
			<li>
				<a href="/pr_free/">無料広告掲載に関して</a>
			</li>
		</ul>
	</div>
</div>